<main>
    <body>
        <header>
            
        </header>

    <h1>codi 1</h1>
    <h2>codi 2</h2>
    <h3>codi 3</h3>
<strong> Amira</strong><i>Alshaikh</i><em>Mohammad</em>
    
        <p>
we are happy in codi <br>
this is amazing <br>

        </p>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fsea&psig=AOvVaw1h3VLVnVPylB1f4H0DVGVs&ust=1669729746199000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCKCtyZSC0fsCFQAAAAAdAAAAABAI" Alt="sea" height="50%" width="50%">

        <blockquote cite="https://codi.tech/"> first quote</blockquote><br>
        <q>second quote</q><br>
        <abbr title="third">third quoet</abbr>


        

    
    <footer>

    </footer>
    </body>
</main>
